<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="2">
    <test name="FirstTest">
        <classes>
            <class name="exampleTest"/>
        </classes>
    </test>
    <test name="SecondTest">
        <classes>
            <class name="exampleTest"/>
        </classes>
    </test>
</suite>